<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <%- include('../navbar'); %>
  <div class="jumbotron">
    <h1 class="display-4">Nuevo usuario</h1>
    <form id = "formularioUsuarios">
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre">
          <br>
          <label for="exampleFormControlInput1">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
          <br>
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="@">
          <br>
          <label for="exampleFormControlInput1">Puesto</label>
          <select class="custom-select custom-select-lg mb-3" id="position">
            <option value="0">Mesero</option>
            <option value="1">Administrador</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlInput1">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Apellido">
          <br>
          <br>
          <label for="exampleFormControlInput1">Url:</label>
          <input id = "url" type="text" class="form-control" placeholder="url">

        </div>
      </div>
    </form>
    <br>
    <button id = "saveUser" class="btn btn-primary btn-lg" href="#" role="button">Guardar</button>
    <button id = "cancelar" class="btn btn-danger btn-lg" href="#" role="button">Cancelar</button>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- JavaScript -->
  <script>
    let btnSalir = document.getElementById("cancelar");

      btnSalir.onclick = salir;

      function salir(){
        window.location.href = "/admin/usuarios";
      }
        var info = {};

        let formularioUsuarios = document.getElementById("formularioUsuarios");
        //console.log(formularioProductos);
        let btnSaveUser = document.getElementById("saveUser");

        btnSaveUser.disabled = true;

            var nombre = document.getElementById("name");

            var apellido = document.getElementById("apellido");

            var password = document.getElementById("password");

            var email = document.getElementById("email");

            var position = document.getElementById("position");

            var urlImagen = document.getElementById("url");

            formularioUsuarios.addEventListener("change", () => {

            

            //console.log("--------");

            if(nombre.value.length == 0) nombre.classList.add("is-invalid");
            else{
                nombre.classList.remove("is-invalid");
                nombre.classList.add("is-valid");
                //datos.push(nombre.value);
            } 

            if(apellido.value == 0){
               apellido.classList.add("is-invalid");
            }
            else{
               apellido.classList.remove("is-invalid");
               apellido.classList.add("is-valid");
                //datos.push(precio.value);
            }

            if(password.value == 0){
              password.classList.add("is-invalid");
            }
            else{
              password.classList.remove("is-invalid");
              password.classList.add("is-valid");
                //datos.push(cantidad.value);
            }

            if(email.value.length == 0) email.classList.add("is-invalid");
            else{
               email.classList.remove("is-invalid");
               email.classList.add("is-valid");
                //datos.push(unidad.value);
            }

            if(urlImagen.value.length == 0) urlImagen.classList.add("is-invalid");
            else{
                urlImagen.classList.remove("is-invalid");
                urlImagen.classList.add("is-valid");
                //datos.push(unidad.value);
            }

            //console.log(datos);

            //console.log("--------");

            //console.log(btnSaveUser.disabled);
            
            
            if(nombre.value.length == 0 || apellido.value.length == 0 || password.value == 0 || email.value == 0 || urlImagen.value.length == 0){
                console.log("entre");
                btnSaveUser.disabled = true;
            }else{
              btnSaveUser.disabled = false;                
              console.log("entre else");
            }

            console.log(btnSaveUser.disabled);
      })




      btnSaveUser.addEventListener("click", (e) => {
        e.preventDefault();
        info.name = nombre.value;
        info.apellido = apellido.value;
        info.password = password.value;
        info.email = email.value;
        info.type = position.value;
        info.url_image = urlImagen.value;

        console.log(info);
        
        var url = '/api/users';
        var data = info;

        fetch(url, {
        method: 'POST', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers:{
            'Content-Type': 'application/json',
            'x-access-token': sessionStorage.getItem("token")
        }
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response =>{
            console.log('Success:', response);
            alert("Se añadió un nuevo usuario");
            window.location.href = "/admin/usuarios";
        });




        })
    
  </script>
</body>

</html>