<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <%- include('../navbar'); %>
  <div class="jumbotron">
    <h1 class="display-4">Nuevo usuario</h1>
    <form>
      <div class="row">
        <div class="col">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="text" class="form-control" id="nameInput" placeholder="Nombre">
          <br>
          <label for="exampleFormControlInput1">Password</label>
          <input type="password" class="form-control" id="passwordInput" placeholder="Password">
          <br>
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
          <br>
          <label for="exampleFormControlInput1">Puesto</label>
          <select class="custom-select custom-select-lg mb-3" id="typeInput">
            <option value="0">Mesero</option>
            <option value="1">Administrador</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlInput1">Apellido</label>
          <input type="text" class="form-control" id="name2Input" placeholder="Apellido">
          <br>
          <br>
          <button type="button" class="btn btn-outline-primary" id="imgSubmit">Subir Imagen</button>

        </div>
      </div>
    </form>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button" id="btnSave">Guardar</a>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- JavaScript -->
  <script>
    let user = {};
    let usersURL = 'http://localhost:3000/api/users';
    //Cargar Imagen
    let imgSubmit = document.getElementById("imgSubmit");
    imgSubmit.addEventListener("click", function (event) {
      event.preventDefault();
    });
    //Guardar Usuarios
    let btnSave = document.getElementById("btnSave");
    btnSave.addEventListener("click", function (event) {
      event.preventDefault();
      let name = document.getElementById("nameInput");
      let name2 = document.getElementById("name2Input");
      let password = document.getElementById("passwordInput");
      let email = document.getElementById("emailInput");
      let type = document.getElementById("typeInput").selectedIndex;
      let today = new Date();
      let date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();
      user = {
        name: name.value,
        type: document.getElementsByTagName("option")[type].value,
        email: email.value,
        password: password.value,
        name2: name2.value,
        today: date
      }
      postNewUser(user);
    });
    //Post usuario creado
    function postNewUser(datos) {
      xhr = new XMLHttpRequest();
      xhr.open('POST', usersURL);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('x-access-token', sessionStorage.getItem("token"));
      xhr.send(JSON.stringify(datos));
      xhr.onload = function () {
        if (xhr.status != 200) {
          alert(xhr.status + ': ' + xhr.statusText + ' ' + xhr.responseText);
        } else {
          window.location.href = "/admin/usuarios";
        }
      };
    }
  </script>
</body>

</html>