<!doctype html>
<html lang="es">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <%- include('../navbar'); %>
        <section class="container">
            <div class="input-group input-group-sm mb-3 mt-3 col-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
                </div>
                <input id="search" type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm">
            </div>
            <h2 class="text-center">Ordenes</h2>
            <div class="d-flex justify-content-md-center align-items-md-center" id="table-content">
                <table class="table table-striped col-12 col-md-12 table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">mesa</th>
                            <th scope="col">total</th>
                            <th scope="col">clientes</th>
                            <th scope="col">Activa</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-orders">                        
                    </tbody>
                </table>
            </div>

            <footer class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul id="pagination" class="pagination">
                                <li class="page-item"><a id="btn_prev" class="page-link" href="#">Previous</a></li>
                             
                                <li class="page-item"><a id="btn_next" class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
            </footer>

        </section>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var ordenes = [];

        var ordenesBackUp = [];

        var tablaOrdenes = [];
        var current_page = 0
        var records_per_page = 3;

        var search = document.getElementById("search");

        search.onkeyup = filtrado;

        function filtrado(event){
            console.log(search.value)
            ordenes = ordenesBackUp.filter((orden) => {
                return orden.is_active == true;
            })
            if(search.value == ""){

                cargarProductos(ordenes)
                loadPagination();
                changePage(1);

                window.location.href = "/admin/ordenes";
                

            }else{


                loadPagination();
                changePage(1);

                loadHtml(ordenes);
            }
            
        }


        //var btn_next = document.getElementById("btn_next");
        //var btn_prev = document.getElementById("btn_prev");

        //btn_next.onclick = nextPage
        //btn_prev.onclick = prevPage


        function cargarProductos(ordenes){
            ordenes.forEach(function(orden,index){

                let ord = {};

            let tdId = document.createElement('td');
            let tdMesa = document.createElement('td');
            let tdTotal = document.createElement('td');
            let tdClientes = document.createElement('td');
            let tdIsActive = document.createElement('td');

            let newRow = document.createElement('tr');

            //console.log("Entre",index);

            tdId.innerText = index + 1;
            tdMesa.innerText = orden.table.number;
            tdTotal = orden.total;
            tdClientes = orden.clients;
            tdIsActive = orden.is_active;
            

            /*newRow.appendChild(tdId);
            newRow.appendChild(tdName);
            newRow.appendChild(tdCantidad);
            newRow.appendChild(tdAcciones);

            tbody.appendChild(newRow);

            tbody.hidden = true;*/
            
            ord.id = tablaOrdenes.length+1;
            ord.mesa = orden.table.number;
            ord.total = orden.total;
            ord.clientes = orden.clients;
            ord.isActive = orden.is_active;

            
            tablaOrdenes.push(orden);

            //console.log(tablaProductos);


            });
        }

        function prevPage(){ 
            if (current_page > 1) {
            current_page--;
            changePage(current_page);
            }
        }

        function nextPage(){
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function mostrarOrdenes(orders){
            return `<tr>
            <td>${orders._id}</td>
            <td>${orders.table.number}</td>
            <td>${orders.total}</td>
            <td>${orders.clients}</td>
            <td>${orders.is_active}</td>
            </tr>`
        }

        function changePage(page){   
            let btn_next = document.getElementById("btn_next");
            let btn_prev = document.getElementById("btn_prev");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            let orders_page= []

            for (var i = (page-1) * records_per_page; i < (page * records_per_page); i++) {
                if(tablaOrdenes[i] != undefined){
                    orders_page.push(tablaOrdenes[i]);
                    //console.log("Productos page");
                    //console.log(products_page);
                
                }
            }

            loadHtml(orders_page);

            if (page == 1) {
            // btn_prev.setAttribute("disabled","")
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
                //btn_prev.removeAttribute("disabled")
            }

            if (page == numPages()) {
                
                btn_next.style.visibility = "hidden";
                //btn_next.setAttribute("disabled","")
            } else {
                btn_next.style.visibility = "visible";
                //btn_next.removeAttribute("disabled")
            }
        }

        function numPages()
        {
            return Math.ceil(ordenes.length / records_per_page);
        }

        function changePageCustom(page){
            current_page = page;
            changePage(current_page)
        }

        function loadPagination(){
            let pagination = document.getElementById("pagination")
            let pags= ""
            for(i = 0 ; i<numPages() ; i++){
                pags+=`<li class="page-item"><a onclick="changePageCustom(${i+1})" class="page-link" href="#">${i+1}</a></li>`
            }

            let str = `<li class="page-item"><button onclick="prevPage()" id="btn_prev" class="page-link" href="#">Previous</button></li>
            ${pags} <li class="page-item"><button onclick="nextPage()" id="btn_next" class="page-link" href="#">Next</button></li>`

            pagination.innerHTML = str;
        }

        function loadHtml(orders){
            let string= ""
            let lista = document.getElementById("tbody-orders")
            orders.forEach(element => {
            string+= mostrarOrdenes(element)
        });

            lista.innerHTML = string;


        }



        fetch('/api/orders',{
                    method: 'GET', 
                    //body: JSON.stringify(data), // data can be `string` or {object}!
                    headers:{
                        'Content-Type': 'application/json',
                        'x-access-token': sessionStorage.getItem("token")
                    }
                })
            .then(function(response) {
                return response.text();
            })
            .then(function(data) {
            console.log('data = ', data);
            ordenes = JSON.parse(data).data.orders;
            ordenesBackUp = ordenes;


            //console.log(productos);
            //console.log("--------");

            cargarProductos(ordenes);

            //tablaProductos = document.getElementById("tbody").children;

            //console.log(tablaProductos);

            btn_next.onclick = nextPage;
            btn_prev.onclick = prevPage;

            loadPagination();
            changePage(1);



            })
            .catch(function(err) {
            console.error(err);
        });

//console.log(productos.length)

    </script>
  </body>
</html>