<!doctype html>
<html lang="es">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <%- include('../navbar'); %>
        <section class="container">
            <div class="input-group input-group-sm mb-3 mt-3 col-12">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
                </div>

                <input id = "search" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>

            <div class="row">
                <p class="col"></p>
                <h2 class="text-center col">Productos</h2>
                <button onclick="nuevoProducto()" type="button" class="btn btn-success col">Nuevo producto</button>
            </div>
            
            <div class="d-flex justify-content-md-center align-items-md-center" id="table-content">
                <table class="table table-striped col-12 col-md-12" id="tableProducts">
                    <thead>
                        <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">cantidad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id = "tbody">                       
                    </tbody>
                </table>         
            </div>

            <div>
               
            </div>

            <footer class="d-flex justify-content-center">
                    <nav class="row mt-3 " aria-label="Page navigation">
                            <ul id="pagination" class="pagination">
                              <li class="page-item"><a id="btn_prev" class="page-link" href="#">Previous</a></li>
                             
                              <li class="page-item"><a id="btn_next" class="page-link" href="#">Next</a></li>
                            </ul>
                    </nav>
            </footer>

        </section>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Elimando un producto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                      <button id = "elimandoProducto" type="button" class="btn btn-primary">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

        var productos = [];

        var productosBackUp = [];

        var tablaProductos = [];
        var current_page = 0
        var records_per_page = 3;

        var search = document.getElementById("search");

        search.onkeyup = filtrado;

        function filtrado(event){
            console.log(search.value)
            productos = productosBackUp.filter((producto) => {
                return producto.name.toUpperCase().trim().includes(search.value.toUpperCase().trim());
            })
            if(search.value == ""){
                cargarProductos(productos)
                loadPagination();
                changePage(1);
            }else{
                loadPagination();
                changePage(1);

                loadHtml(productos);
            }
           

            
        }


        //var btn_next = document.getElementById("btn_next");
        //var btn_prev = document.getElementById("btn_prev");

        //btn_next.onclick = nextPage
        //btn_prev.onclick = prevPage

        /*function editarProducto(id){
            window.location.href = '/admin/productos/editar?id='+id;
        }*/

        function nuevoProducto(){
            window.location.href = "/admin/productos/nuevo";
        }

        function cargarProductos(productos){
            productos.forEach(function(product,index){

                let prod = {};

            let tdId = document.createElement('td');
            let tdName = document.createElement('td');
            let tdCantidad = document.createElement('td');
            let tdAcciones = document.createElement('td');
            let newRow = document.createElement('tr');

            //console.log("Entre",index);

            tdId.innerText = index + 1;
            tdName.innerText = product.name;
            tdCantidad.innerText = product.quantity;
            tdAcciones.innerHTML = 
            `<button onclick="editarProducto()" class="btn btn-warning"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>`;
            /*newRow.appendChild(tdId);
            newRow.appendChild(tdName);
            newRow.appendChild(tdCantidad);
            newRow.appendChild(tdAcciones);

            tbody.appendChild(newRow);

            tbody.hidden = true;*/
            
            prod.id = tablaProductos.length+1;
            prod.name = product.name;
            prod.cantidad = product.quantity;
            prod.acciones = `<button onclick="editarProducto()" class="btn btn-warning"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>`;
            
            tablaProductos.push(product);

            //console.log(tablaProductos);


            });
        }

        function prevPage(){ 
            if (current_page > 1) {
            current_page--;
            changePage(current_page);
            }
        }

        function nextPage(){
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function mostratrProductos(products){
            //console.log(products);
            return `<tr>
            <td>${products.name}</td>
            <td>${products.quantity}</td>
            <td>
            <a href = "/admin/productos/editar?id=${products._id}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
            <button data-target="#exampleModalLong" data-toggle="modal" id ="EliminarProducto" onclick="eliminarProducto(${"'"+products._id+"'"},${"'"+products.name+"'"})" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>   
            </tr>`
        }

        function eliminarProducto(id,name){
            let textoModal = document.getElementById("modalBody");
            textoModal.innerText = "¿Estás seguro de qué quieres eleminar el producto "+ name +"?";
            //console.log(id);

            let btnElimnarProducto = document.getElementById("elimandoProducto");

            btnElimnarProducto.addEventListener("click", (e) => {
                //console.log(id);
                var url = `http://localhost:3000/api/products/${id}`;
         

                fetch(url, {
                method: 'DELETE', // or 'PUT'
                headers:{
                    'Content-Type': 'application/json',
                    'x-access-token': sessionStorage.getItem("token")
                }
                }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response =>{
                    console.log('Success:', response);
                    alert("Se eliminó el producto " + name);
                    location.reload();
                });
                })

        }

        



        function changePage(page){   
            let btn_next = document.getElementById("btn_next");
            let btn_prev = document.getElementById("btn_prev");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            let products_page= []

            for (var i = (page-1) * records_per_page; i < (page * records_per_page); i++) {
                if(tablaProductos[i] != undefined){
                    products_page.push(tablaProductos[i]);
                    //console.log("Productos page");
                    //console.log(products_page);
                
                }
            }

            loadHtml(products_page);
    
            if (page == 1) {
            // btn_prev.setAttribute("disabled","")
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
                //btn_prev.removeAttribute("disabled")
            }

            if (page == numPages()) {
                
                btn_next.style.visibility = "hidden";
                //btn_next.setAttribute("disabled","")
            } else {
                btn_next.style.visibility = "visible";
                //btn_next.removeAttribute("disabled")
            }
        }

        function numPages()
        {
            return Math.ceil(productos.length / records_per_page);
        }

        function changePageCustom(page){
            current_page = page;
            changePage(current_page)
        }

        function loadPagination(){
            let pagination = document.getElementById("pagination")
            let pags= ""
            for(i = 0 ; i<numPages() ; i++){
                pags+=`<li class="page-item"><a onclick="changePageCustom(${i+1})" class="page-link" href="#">${i+1}</a></li>`
            }

            let str = `<li class="page-item"><button onclick="prevPage()" id="btn_prev" class="page-link" href="#">Previous</button></li>
            ${pags} <li class="page-item"><button onclick="nextPage()" id="btn_next" class="page-link" href="#">Next</button></li>`
  
            pagination.innerHTML = str;
        }

        function loadHtml(products){
            let string= ""
            let lista = document.getElementById("tbody")
            products.forEach(element => {
            string+= mostratrProductos(element)
        });
    
            lista.innerHTML = string;


        }

        

        fetch('http://localhost:3000/api/products',{
                    method: 'GET', 
                    //body: JSON.stringify(data), // data can be `string` or {object}!
                    headers:{
                        'Content-Type': 'application/json',
                        'x-access-token': sessionStorage.getItem("token")
                    }
                })
            .then(function(response) {
                return response.text();
            })
            .then(function(data) {
            console.log('data = ', data);
            productos = JSON.parse(data).data.products;
            productosBackUp = productos;


            //console.log(productos);
            //console.log("--------");

            cargarProductos(productos);

            //tablaProductos = document.getElementById("tbody").children;

            //console.log(tablaProductos);

            btn_next.onclick = nextPage;
            btn_prev.onclick = prevPage;

            loadPagination();
            changePage(1);



            })
            .catch(function(err) {
            console.error(err);
        });

        //console.log(productos.length)
       

    </script>
  </body>
</html>