<!doctype html>
<html lang="es">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <%- include('../navbar'); %>
        <section class="container">
                <div class="input-group input-group-sm mb-3 mt-3 col-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
                    </div>
                    <input id="search" type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="row">
                        <p class="col"></p>
                        <h2 class="text-center col">Mesas</h2>
                        <button onclick="nuevaMesa()" type="button" class="btn btn-success col">Nueva Mesa</button>
                    </div>
                <div class="d-flex justify-content-md-center align-items-md-center" id="table-content">
                    <table class="table table-striped col-12 col-md-12" id="tableIngredients">
                        <thead>
                            <tr>
                                <th scope="col">Número de mesa</th>
                                <th scope="col">Ubicación</th>
                                <th scope="col">Disponibles</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id = "tbody">
                        </tbody>
                    </table>
                </div>
    
                <div>
                   
                </div>
        
                    <footer class="d-flex justify-content-center">
                            <nav class="row mt-3 " aria-label="Page navigation">
                                    <ul id="pagination" class="pagination">
                                      <li class="page-item"><a id="btn_prev" class="page-link" href="#">Previous</a></li>
                                     
                                      <li class="page-item"><a id="btn_next" class="page-link" href="#">Next</a></li>
                                    </ul>
                            </nav>
                    </footer>
    
            </section>
    
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Eliminando una mesa</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" id="modalBody">
                        </div>
                        <div class="modal-footer">
                          <button id="cancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                          <button id = "eliminandoMesa" type="button" class="btn btn-primary">Eliminar</button>
                        </div>
                      </div>
                    </div>
            </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

        let btnCancelar = document.getElementById("cancelar");

        btnCancelar.onclick = permanecer;

        function permanecer(){
            window.location.href = "/admin/mesas";
        }

        var mesas = [];

        var mesasBackUp = [];

        var tablaTables = [];
        var current_page = 0
        var records_per_page = 2;

        var search = document.getElementById("search");

        search.onkeyup = filtrado;

        function filtrado(event){
            console.log(search.value);
            mesas = mesasBackUp.filter((mesa) => {
                return mesa.reference.toUpperCase().trim().includes(search.value.toUpperCase().trim());
            })
            if(search.value == ""){
                cargarMesas(mesas);
                loadPagination();
                changePage(1);
                window.location.href = "/admin/mesas";
            }else{
                loadPagination();
                changePage(1);

                loadHtml(mesas);
            }
            
        }

        //var btn_next = document.getElementById("btn_next");
        //var btn_prev = document.getElementById("btn_prev");

        //btn_next.onclick = nextPage
        //btn_prev.onclick = prevPage

        /*function editarProducto(id){
            window.location.href = '/admin/productos/editar?id='+id;
        }*/

        function nuevaMesa(){
            window.location.href = "/admin/mesas/nueva";
        }

        function cargarMesas(mesas){
            mesas.forEach(function(mesa,index){

                let me = {};

            let tdId = document.createElement('td');
            let tdUbication = document.createElement('td');
            let tdNumMesa = document.createElement('td');
            let tdSillas = document.createElement('td');

            let tdAcciones = document.createElement('td');
            let newRow = document.createElement('tr');

            //console.log("Entre",index);

            tdId.innerText = index + 1;
            tdUbication.innerText = mesa.reference;
            tdNumMesa.innerText = mesa.number;
            tdSillas.innerText = mesa.seats;
            tdAcciones.innerHTML = 
            `<button onclick="editarMesa()" class="btn btn-warning"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>`;
            /*newRow.appendChild(tdId);
            newRow.appendChild(tdName);
            newRow.appendChild(tdCantidad);
            newRow.appendChild(tdAcciones);

            tbody.appendChild(newRow);

            tbody.hidden = true;*/
            
            me.id = tablaTables.length+1;
            me.ubication = mesa.reference;
            me.NumMesas = mesa.number;
            me.sillas = mesa.seats;
            me.acciones = `<button onclick="editarMesa()" class="btn btn-warning"><i class="fa fa-edit"></i></button>
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>`;
            
            tablaTables.push(mesa);

            console.log(tablaTables);


            });
        }

        function prevPage(){ 
            if (current_page > 1) {
            current_page--;
            changePage(current_page);
            }
        }

        function nextPage(){
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }

        function mostrarMesas(tables){
            console.log("mostrando ingredientes",tables);
            return `<tr>
            <td>${tables.number}</td>
            <td>${tables.reference}</td>
            <td>${tables.seats}</td>
            <td>
            <a href = "/admin/mesas/editar?id=${tables._id}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
            <button data-target="#exampleModalLong" data-toggle="modal" id ="EliminarMesa" onclick="eliminarMesa(${"'"+tables._id+"'"},${"'"+tables.number+"'"})" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </td>   
            </tr>`
        }

        function eliminarMesa(id,number){
            let textoModal = document.getElementById("modalBody");
            textoModal.innerText = "¿Estás seguro de qué quieres eliminar la mesa "+ number+"?";
            //console.log(id);

            let btnElimnarMesa = document.getElementById("eliminandoMesa");

            btnElimnarMesa.addEventListener("click", (e) => {
                console.log(id);
                var url = `/api/tables/${id}`;
         

                fetch(url, {
                method: 'DELETE', // or 'PUT'
                headers:{
                    'Content-Type': 'application/json',
                    'x-access-token': sessionStorage.getItem("token")
                }
                }).then(res => res.json())
                .catch(error => console.error('Error:', error))
                .then(response =>{
                    console.log('Success:', response);
                    alert("Se eliminó la mesa " + number);
                    location.reload();
                });
                })

        }

        function changePage(page){   
            let btn_next = document.getElementById("btn_next");
            let btn_prev = document.getElementById("btn_prev");

            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            let tables_page= []

            for (var i = (page-1) * records_per_page; i < (page * records_per_page); i++) {
                if(tablaTables[i] != undefined){
                    tables_page.push(tablaTables[i]);
                    //console.log("Productos page");
                    //console.log(products_page);
                
                }
            }

            loadHtml(tables_page);
    
            if (page == 1) {
            // btn_prev.setAttribute("disabled","")
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
                //btn_prev.removeAttribute("disabled")
            }

            if (page == numPages()) {
                
                btn_next.style.visibility = "hidden";
                //btn_next.setAttribute("disabled","")
            } else {
                btn_next.style.visibility = "visible";
                //btn_next.removeAttribute("disabled")
            }
        }

        function numPages()
        {
            return Math.ceil(mesas.length / records_per_page);
        }

        function changePageCustom(page){
            current_page = page;
            changePage(current_page)
        }

        function loadPagination(){
            let pagination = document.getElementById("pagination")
            let pags= ""
            for(i = 0 ; i<numPages() ; i++){
                pags+=`<li class="page-item"><a onclick="changePageCustom(${i+1})" class="page-link" href="#">${i+1}</a></li>`
            }

            let str = `<li class="page-item"><button onclick="prevPage()" id="btn_prev" class="page-link" href="#">Previous</button></li>
            ${pags} <li class="page-item"><button onclick="nextPage()" id="btn_next" class="page-link" href="#">Next</button></li>`
  
            pagination.innerHTML = str;
        }

        function loadHtml(tables){
            let string= ""
            let lista = document.getElementById("tbody")
            tables.forEach(element => {
            string+= mostrarMesas(element)
        });
    
            lista.innerHTML = string;


        }

        

        fetch('/api/tables',{
                    method: 'GET', 
                    //body: JSON.stringify(data), // data can be `string` or {object}!
                    headers:{
                        'Content-Type': 'application/json',
                        'x-access-token': sessionStorage.getItem("token")
                    }
                })
            .then(function(response) {
                return response.text();
            })
            .then(function(data) {
            console.log('data = ', data);
            mesas = JSON.parse(data).data.tables;
            mesasBackUp = mesas;
            console.log("arreglo de mesas",mesas);
            //console.log("--------");

            cargarMesas(mesas);

            //tablaProductos = document.getElementById("tbody").children;

            //console.log(tablaProductos);

            btn_next.onclick = nextPage;
            btn_prev.onclick = prevPage;

            loadPagination();
            changePage(1);



            })
            .catch(function(err) {
            console.error(err);
        });

        //console.log(productos.length)
    </script>
  </body>
</html>