<!doctype html>
<html lang="es">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <%- include('../navbar'); %>
      <section>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Nueva Mesa</h1>
                        <form id = "formularioProductos">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Ubicación:</label>
                                <input type="text" class="form-control" id="ubication"
                                    placeholder="a la entrada">
                            </div>
                            <div class="form-group">
                                    <label for="exampleFormControlInput2">Numero de sillas </label>
                                    <input type="number" class="form-control" id="chairs"
                                        placeholder="2" min="2">
                                </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Número de mesa</label>
                                <input type="number" class="form-control" id="NumMesas" min="1">
                            </div>
                            <button id = "saveMesa" class="btn btn-primary btn-lg" href="#" role="button">Guardar</button>
                            <a id = "cancelar" class="btn btn-danger btn-lg" href = "/admin/mesas" role="button">Cancelar</a>
                        </form>
                </div>
            </div>
      </section>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>

        let btnSalir = document.getElementById("cancelar");

        btnSalir.onclick = salir;

        function salir(){
          console.log("entre");
          window.location.href = "/admin/mesas";
        }

          var info = {};

          let formularioProductos = document.getElementById("formularioProductos");
          //console.log(formularioProductos);
          let btnSaveProduct = document.getElementById("saveMesa");

          btnSaveProduct.disabled = true;

              var ubication = document.getElementById("ubication");
              //console.log(nombre.value);
              var chairs = document.getElementById("chairs");
              //console.log(cantidad.value);
              var numMesas = document.getElementById("NumMesas");

          formularioProductos.addEventListener("change", () => {

              //console.log("--------");

              if(ubication.value.length == 0) ubication.classList.add("is-invalid");
              else{
                  ubication.classList.remove("is-invalid");
                  ubication.classList.add("is-valid");
                  //datos.push(nombre.value);
              } 

              if(chairs.value == 0){
                chairs.classList.add("is-invalid");
              }
              else{
                chairs.classList.remove("is-invalid");
                chairs.classList.add("is-valid");
                  //datos.push(cantidad.value);
              }

              if(numMesas.value == 0){
                numMesas.classList.add("is-invalid");
              }
              else{
                numMesas.classList.remove("is-invalid");
                numMesas.classList.add("is-valid");
                  //datos.push(cantidad.value);
              }

              
              //console.log(datos);

              //console.log("--------");

              //console.log(btnSaveProduct.disabled);
              
              
              if(ubication.value.length == 0 || chairs.value == 0 || numMesas.value == 0){

                  btnSaveProduct.disabled = true;
              }else{
                  btnSaveProduct.disabled = false;
              }

              console.log(btnSaveProduct.disabled);
          })

          btnSaveProduct.addEventListener("click", (e) => {

          info.number = numMesas.value;
          info.reference = ubication.value;
          info.seats = chairs.value;

          //console.log(info);

          var url = 'http://localhost:3000/api/tables';
          var data = info;

          fetch(url, {
          method: 'POST', // or 'PUT'
          body: JSON.stringify(data), // data can be `string` or {object}!
          headers:{
              'Content-Type': 'application/json',
              'x-access-token': sessionStorage.getItem("token")
          }
          }).then(res => res.json())
          .catch(error => console.error('Error:', error))
          .then(response =>{
              console.log('Success:', response);
              alert("Se añadió una nueva mesa");
              window.location.href = "/admin/mesas";
          });
          })
    </script>

  </body>
</html>