  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <img class="navbar-brand" href="#"><img width="50px" src="http://cdn.onlinewebfonts.com/svg/img_19587.png" alt="logo"></a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse ml-2" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/ordenes">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/mesas">Mesas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/platillos">Platillos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/ingredientes">Ingredientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/ordenes">Ordenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/usuarios">Usuarios</a>
                </li>
                  
              </ul>
              
          </div>
      </nav>

<script>
    let list_links = document.getElementById("collapsibleNavId").children[0].children
    is_admin = sessionStorage.getItem("type")
    
    if(is_admin!=1 ){
        list_links[1].setAttribute("hidden", "")
        list_links[2].setAttribute("hidden", "")
        list_links[3].setAttribute("hidden", "")
        list_links[4].setAttribute("hidden", "")
        list_links[5].setAttribute("hidden", "")
        list_links[6].setAttribute("hidden", "")

    }
</script>
      
